.Person {
    background-color: rgb(214, 147, 23);
    width: 60%;
    margin: 16px auto;
    border: 1px solid crimson;
    box-shadow: 0 2px 3px black;
    padding: 16px;
    text-align: center;


}